
.details-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
  }
  
  .details-card {
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
  }
  
  .detailimg {
    max-width: 100%;
    height: auto;
  }
  
  .detailtitle-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .detailtitle {
    font-weight: bold;
    font-size: 32px;
  }
  
  .theheart {
    font-size: 2rem;
    color: #ec2604;
    cursor: pointer;
  }
  
  .detaildate {
    font-size: 16px;
    font-weight: bold;
    color: gray;
    margin-top: 1rem;
  }
  
  .detailpop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 20px;
  }
  
  .detaildesc {
    font-size: 18px;
    width: 100%;
    margin-top: 2rem;
    text-align: justify;
    font-weight: bold;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: bold;
  }
  
  .tagitem {
    background-color: orange;
    padding: 5px 15px;
    border-radius: 5rem;
    text-align: center;
  }
  
  .durandlang {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 18px;
  }
  
  .logos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .logo {
    max-height: 6rem;
    max-width: 12rem;
  }
  
  .towebsite {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    text-align: center;
  }
  
  .towebsite:hover {
    background-color: orange;
    border: 2px solid orange;
  }
  
  .recomtitle {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
  }
  
  .recocards {
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 2rem;
    margin-left: 5%;
    column-gap: 2rem;
  }
  
  @media (max-width: 768px) {
    .details-card,
    .detailpop,
    .logos,
    .tags,
    .durandlang,
    .detailtitle-content {
      flex-direction: column;
    }
  
    .tagitem,
    .logo {
      margin-top: 1rem;
    }
  
    .detailimg {
      width: 100%;
      height: auto;
    }
  
    .detaildate,
    .towebsite {
      margin-left: 0;
    }
  
    .recocards {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }
  