.circular-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #007bff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .thecard{
    position: relative;
    cursor: pointer;
  }
.progressbar{
position: absolute;
z-index: 1;
bottom: 8.4rem;
right: -5.85rem;
height: 3rem;
font-weight: bold;

}
  