/* 
body {
  background-color: #ffffff;
}

.mainbox {
  background-color: #ffffff;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

  .err {
    color: #f2ec50;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
  }

i {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #f2ec50;
}

 .err2 {
  color: #f2ec50;
  font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
  }

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
} */