.App {
  color:rgb(103, 115, 196) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6b7d9f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(200, 200, 200);
}

.App-link {
  color: #61dafb;
}

.text-white{
  color: white;
}

*{
  margin: 0;


}
.header{
  background-color: yellow;
}